<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".admin.view.CompleteOrder"
            android:exported="false" />
        <activity
            android:name=".admin.view.DiscountActivity"
            android:exported="false" />
        <activity
            android:name=".admin.view.ViewStatistic"
            android:exported="false" />
        <activity
            android:name=".admin.view.PendingOrder"
            android:exported="false" />
        <activity
            android:name=".admin.view.CreateAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.view.OutForDelivery"
            android:exported="false" />
        <activity
            android:name=".admin.view.All_item"
            android:exported="false" />
        <activity
            android:name=".admin.view.Admin_profile"
            android:exported="false" />
        <activity
            android:name=".admin.view.AddItem"
            android:exported="false" />
        <activity
            android:name=".admin.view.MainAdminActivity"
            android:exported="false" /> <!-- Login and Register activities -->
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activities in the user package -->
        <activity
            android:name=".user.view.PayOutActivity"
            android:exported="false" />
        <activity
            android:name=".user.view.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.view.MainUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>